@use "../abstracts";

html.dark {
    --text-color: #fff;
    // css-color-filter-generator
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(106%) contrast(106%);
    --body-bg: #292E39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadown: #00000033;
    --top-act-group-separate: #EDEDF6;

    @include abstracts.screen(lg) {
        --header-shadown-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadown-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(40%) saturate(281%) hue-rotate(184deg) brightness(94%) contrast(92%);
    --top-menu-border-color: #171C28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(90%) sepia(5%) saturate(4590%) hue-rotate(190deg) brightness(118%) contrast(97%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadown: rgba(23, 28, 40, 0.40);

    // Category item
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292E39;
    --cate-item-title-color: #fff;
    --cate-item-desc-color: #fff;

    // Buttons
    --filter-btn-color: #fff;
    --filter-btn-bg: #171C28;
    --like-btn-shadown: rgba(124, 124, 124, 0.20);

    // Product card
    --product-card-bg: #171C28;
    --product-card-shadown: rgba(0, 0, 0, 0.20);
    --filter-form-tag-bg: #171C28;

    // Filter form
    --filter-form-bg: var(--dropdown-bg-color);
    --filter-form-shadow: (0, 0, 0, 0.40);
    --filter-form-tag-bg: #171C28;
    --filter-form-arrow: var(--dropdown-arrow-color);
}